# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Streamlit specific (optional)
.streamlit/

# Others
*.pyo
*.pyd
*.swp
